<hr/>
<h3>Drummer</h3>
<%= link_to 'Edit', controller: :drummers, action: :edit %>
<table>
  <tr>
    <th>Background Vocals</th>
    <td><%= drummer.musical_hobby.background_vocals %></td>
  </tr>
  <tr>
    <th>Double Kick</th>
    <td><%= drummer.double_kick %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= drummer.musical_hobby.experience %></td>
  </tr>
  <tr>
    <th>Proficiency</th>
    <td><%= drummer.musical_hobby.proficiency %></td>
  </tr>
</table>
