<div class="instrument-data">
  <h3><%= musician.specific.class.name %></h3>
  <div class="details">
    <table class="table">
      <tr>
        <th>Background Vocals</th>
        <td><%= musician.background_vocals %></td>
      </tr>
      <tr>
        <th>Experience</th>
        <td><%= musician.experience %></td>
      </tr>
      <tr>
        <th>Proficiency</th>
        <td><%= musician.proficiency %></td>
      </tr>
      <%= render_specific_data(musician) %>
    </table>
  </div>
  <% if @user.id == session[:user_id] %>
    <%= link_to('Edit', edit_musician_path(musician), { class: "btn btn-default", type: "button" }) %>
    <%= make_delete_musician_link(musician, { class: "btn btn-default", type: "button" }) %>
  <% end %>
  <%= make_review_link_for(@user, musician, { class: "btn btn-default", type: "button" }) %>
  <%= link_to('See the reviews', musician_reviews_path(musician), { class: "btn btn-default", type: "button" }) %>
</div>
