<hr/>
<h3><%= musician.specific.class.name %></h3>
<table>
  <tr>
    <th>Background Vocals</th>
    <td><%= musician.background_vocals %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= musician.experience %></td>
  </tr>
  <tr>
    <th>Proficiency</th>
    <td><%= musician.proficiency %></td>
  </tr>
</table>
<%= render(partial: 'musicians/links', locals: {musician: musician}) %>
