<hr/>
<h3>Singer</h3>
<table>
  <tr>
    <th>Background Vocals</th>
    <td><%= singer.background_vocals %></td>
  </tr>
  <tr>
    <th>Range</th>
    <td><%= singer.range %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= singer.experience %></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= singer.rating %></td>
  </tr>
  <tr>
    <th>Proficiency</th>
    <td><%= singer.proficiency %></td>
  </tr>
</table>
<!--
<%= link_to("Edit", :controller => 'singers', :action => 'edit') %>
<%= link_to("Delete", :controller => 'singers', :action => 'destroy') %>
-->
