<%= error_messages_for(@user) %>

<div class="form-group">
  <%= u.label(:username, class: 'control-label col-md-2') %>
  <div class = "col-md-10">
    <%= u.text_field(:username, class: 'form-control')%>
  </div>
</div>

<div class="form-group">
  <%= u.label(:password, class: 'control-label col-md-2', :title => "Password") %>
  <div class = "col-md-10">
    <%= u.password_field(:password, {class: 'form-control'})%>
  </div>
</div>

<div class="form-group">
  <%= u.label(:password_confirmation, "Repeat Password", class: 'control-label col-md-2') %>
  <div class = "col-md-10">
    <%= u.password_field(:password_confirmation, class: 'form-control') %>
  </div>
</div>

<div class="form-group">
  <%= u.label(:first_name, "First Name", class: 'control-label col-md-2') %>
  <div class = "col-md-10">
    <%= u.text_field(:first_name, {class: 'form-control'}) %>
  </div>
</div>

<div class="form-group">
  <%= u.label(:last_name, "Last Name", class: 'control-label col-md-2') %>
  <div class = "col-md-10">
    <%= u.text_field(:last_name, {class: 'form-control'}) %>
  </div>
</div>

<div class="form-group">
  <%= u.label(:city, class: 'control-label col-md-2') %>
  <div class = "col-md-10">
    <%= u.text_field(:city, {class: 'form-control'}) %>
  </div>
</div>

<div class="form-group">
  <%= u.label(:email, class: 'control-label col-md-2', :title => "E-mail") %>
  <div class = "col-md-10">
    <%= u.text_field(:email, {class: 'form-control'}) %>
  </div>
</div>

<div class="form-group">
  <%= u.label(:email_confirmation, "Repeat E-mail", class: 'control-label col-md-2') %>
  <div class = "col-md-10">
    <%= u.text_field(:email_confirmation, {class: 'form-control'}) %>
  </div>
</div>
