<%= error_messages_for(@user) %>
<div class="container">
  <table class="table">
    <tbody>
      <%= editable_row(@user, 'username', 'Username', @user.username) %>
      <%= editable_row(@user, 'first_name', 'First Name', @user.first_name) %>
      <%= editable_row(@user, 'last_name', 'Last Name', @user.last_name) %>
      <%= editable_row(@user, 'city', 'City', @user.city) %>
    </tbody>
  </table>
  <%= link_to('Change Password', controller: 'users', action: 'change_password') %>
<div>
