<section>
  <div class="page-header">
    <h1>
      Here are some other users
    </h1>
  </div>
  <%= form_tag('/musicians/search', method: :get) do %>
    <%= text_field_tag(:query, '', placeholder: 'Enter username') %>
    <%= select_tag(:type, options_for_select(musician_type_options))%>
    <%= submit_tag('Search') %>
  <% end %>
  <ul class="search-results">
    <% @musicians.each do |musician| %>
      <%= render(partial: 'musicians/summary', locals: {musician: musician}) %>
    <% end %>
  </ul>
</section>
