<% @title = "Creating new user" %>



<%= error_messages_for(@user) %>

<div class = 'container' style = "text-align: center"> 

	<h1>Register </h1>
	<p>Please enter your information</p>


	<%= form_for(:user, :url => {:action => 'create'}, :class => 'form-horizontal') do |u| %>

		<div class="form-group">
			<%= u.label(:username, :class => 'control-label col-md-2') %>
			<div class = "col-md-10">
				<%= u.text_field(:username, :class => 'form-control')%>
			</div>
		</div>

		<div class="form-group">
			<%= u.label(:password, :class => 'control-label col-md-2', :title => "Password") %>
			<div class = "col-md-10">
				<%= u.password_field(:password, {:class => 'form-control'})%>
			</div>
		</div>

		<div class="form-group">
			<%= u.label(:password_confirmation, :title => "Repeat Password", :class => 'control-label col-md-2') %>
			<div class = "col-md-10">
				<%= u.password_field(:password_confirmation, :class => 'form-control') %>
			</div>
		</div>

		<div class="form-group">
			<%= u.label(:first_name, :title => "First Name", :class => 'control-label col-md-2') %>
			<div class = "col-md-10">
				<%= u.text_field(:first_name, {:class => 'form-control'}) %>
			</div>
		</div>

		<div class="form-group">
			<%= u.label(:email_confirmation, :class => 'control-label col-md-2', :title => "Repeat E-mail") %>
			<div class = "col-md-10">
				<%= u.text_field(:email_confirmation, {:class => 'form-control'}) %>
			</div>
		</div>

		<div class="form-group">
			<%= u.label(:city, :class => 'control-label col-md-2') %>
			<div class = "col-md-10">
				<%= u.text_field(:city, {:class => 'form-control'}) %>
			</div>
		</div>

		<div class="form-group">
			<%= u.label(:email, :class => 'control-label col-md-2', :title => "E-mail") %>
			<div class = "col-md-10">
				<%= u.text_field(:email, {:class => 'form-control'}) %>
			</div>
		</div>

		<%= button_tag(:type => 'submit', :class => 'btn btn-primary') do%>
			<i class = "glyphicon glyphicon-user"></i> Register!
		<% end %>
	<% end %>

</div>