<div>
  <% @title = "Info for user " + @user.username %>
  <div class="user-profile">
    <div class="profile-header">
      <img src="http://placehold.it/150x150" class="img-thumbnail" />
      <h1><%= @user.username %></h1>
    </div>
    <table class="table">
      <%= editable_row(@user, 'first_name', 'First Name', @user.first_name) %>
      <%= editable_row(@user, 'last_name', 'Last Name', @user.last_name) %>
      <%= editable_row(@user, 'city', 'City', @user.city) %>
    </table>
  </div>
  <div>
    <% if @user.id == session[:user_id] && @user.more_instrument_options? %>
      <%= link_to("Add an instrument!", action: 'add_instrument') %>
    <% end %>
    <% @user.musicians.each do |musician| %>
      <% case musician.actable_type.downcase %>
        <% when 'drummer' %>
          <%= render(partial: 'musicians/show', locals: {musician: musician}) %>
        <% when 'guitarist' %>
          <%= render(partial: 'musicians/show', locals: {musician: musician}) %>
        <% when 'bassist' %>
          <%= render(partial: 'musicians/show', locals: {musician: musician}) %>
        <% when 'singer' %>
          <%= render(partial: 'musicians/show', locals: {musician: musician}) %>
      <% end %>
    <% end %>
  </div>
</div>
