<div class="container">
  <% @title = "Info for user " + @user.username %>
  <div class="container-fluid">
    <h1><%= @user.username %></h1>
  <div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href='#profile' data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href='#musician' data-toggle="tab">Musician</a></li>
  </ul>
  <div class ="tab-content">
    <div id="profile" class="tab-pane fade in active">
      <div class="profile">
        <table>
          <tr>
            <th>Username</th>
            <td><%= @user.username %></td>
          </tr>
          <tr>
            <th>First Name</th>
            <td><%= @user.first_name %></td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td><%= @user.last_name %></td>
          </tr>
          <tr>
            <th>City</th>
            <td><%= @user.city %></td>
          </tr>
          <tr>
            <th>E-mail</th>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
    </div>
    <div id="musician" class="tab-pane fade">
      <% if @user.id == session[:user_id] %>
        <%= link_to("Add an instrument!", action: 'add_instrument') %>
      <% end %>
      <% @user.musicians.each do |musician| %>
        <% case musician.actable_type.downcase %>
          <% when 'drummer' %>
            <%= render(partial: 'drummers/show', locals: {musician: musician}) %>
          <% when 'guitarist' %>
            <%= render(partial: 'guitarists/show', locals: {musician: musician}) %>
          <% when 'bassist' %>
            <%= render(partial: 'bassists/show') %>
          <% when 'singer' %>
            <%= render(partial: 'singers/show') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
