<% if @user.musician? %>
  <div>
    <h1>Some musicians in your area</h1>
      <% length = @matches.size + (@matches.size % 3) %>
      <% for i in 0..length - 1 %>
        <% if i%3 == 0 %>
          <div class='row'>
        <% end %>
        <div class ='col-xs-4'>
          <% if @matches[i] %>
            <div class = 'panel panel-primary'>
              <div class = 'panel-heading'>
                <span class='panel-title'>
                  <i class='glyphicon glyphicon-user'></i>
                  <%= link_to(controller: 'users', action: 'show', id: @matches[i]) do %>
                    <%= @matches[i].username %>
                  <% end %>
                </span>
              </div>
              <div class ='panel-body'>
                <% if @matches[i].drummer %>
                  <p>Drummer</p>
                <% end %>
                <% if @matches[i].bassist %>
                  <p>Bassist</p>
                <% end %>
                <% if @matches[i].guitarist %>
                  <p>Guitarist</p>
                <% end %>
                <% if @matches[i].singer %>
                  <p>Singer</p>
                <% end %>
                <%= link_to({controller: 'users', action: 'show', id: @matches[i].id}, class: 'btn btn-info') do%>
                  <i class='glyphicon glyphicon-share-alt'></i> View Profile
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <% if i%3 == 2 %>
          </div>
        <% end %>
      <% end %>
  </div>
<% else %>
  <div class ='container-fluid'>
    <p>Your profile is looking very empty... Tell us more about yourself!!! Are you a...</p>
    <div class='row'>
        <%= link_to({controller: 'drummers', action: 'new'}, class: 'btn btn-info col-xs-3') do %>
          <h3>Drummer?</h3>
        <% end %>
        <%= link_to({controller: 'guitarists', action: 'new'}, class: 'btn btn-success col-xs-3') do %>
          <h3>Guitarist?</h3>
        <% end %>
        <%= link_to({controller: 'bassists', action: 'new'}, class: 'btn btn-danger col-xs-3') do %>
          <h3>Bassist?</h3>
        <% end %>
        <%= link_to({controller: 'singers', action: 'new'},class: 'btn btn-primary col-xs-3') do %>
          <h3>Singer?</h3>
        <% end %>
    </div>
  </div>
<% end %>
