<table summary="Bassist form fields">
	<tr>
		<th><%= u.label(:five_string, "Do you play five string?") %></th>
		<td><%= u.check_box(:five_string)%></td>
	</tr>
	<tr>
		<th><%= u.label(:six_string, "Do you play six string?") %></th>
		<td><%= u.check_box(:six_string)%></td>
	</tr>
	<%= render(:partial => 'application/instrument_common_fields_form', :locals => {:u => u}) %>
</table>