<hr/>
<h3>Bassist</h3>
<table>
  <tr>
    <th>Background Vocals</th>
    <td><%= bassist.background_vocals %></td>
  </tr>
  <tr>
    <th>Plays five string?</th>
    <td><%= bassist.five_string %></td>
  </tr>
  <tr>
    <th>Plays six string?</th>
    <td><%= bassist.six_string %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= bassist.experience %></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= bassist.rating %></td>
  </tr>
  <tr>
    <th>Proficiency</th>
    <td><%= bassist.proficiency %></td>
  </tr>
</table>
<!--
<%= link_to("Edit", :controller => 'bassists', :action => 'edit') %>
<%= link_to("Delete", :controller => 'bassists', :action => 'destroy') %>
-->
