<hr/>
<h3>Bassist</h3>
<% if @user.id == session[:user_id] %>
  <%= link_to 'Edit', controller: :bassists, action: :edit %>
  <%= link_to 'Delete', controller: :bassists, action: :destroy, method: :delete %>
<% end %>
<table>
  <tr>
    <th>Background Vocals</th>
    <td><%= musician.background_vocals %></td>
  </tr>
  <tr>
    <th>Plays five string?</th>
    <td><%= musician.specific.five_string %></td>
  </tr>
  <tr>
    <th>Plays six string?</th>
    <td><%= musician.specific.six_string %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= musician.experience %></td>
  </tr>
  <tr>
    <th>Proficiency</th>
    <td><%= musician.proficiency %></td>
  </tr>
</table>
<!--
<%= link_to("Edit", :controller => 'bassists', :action => 'edit') %>
<%= link_to("Delete", :controller => 'bassists', :action => 'destroy') %>
-->
