<h1>Register </h1>
<p>Please enter your information</p>

<% @title = "Creating new bassist" %>
<%= error_messages_for(@bassist) %>

<%= form_for(:bassist, :url => {:action => 'create'}) do |u| %>

	<table summary="User form fields">
		<tr>
			<th><%= u.label(:background_vocals) %></th>
			<td><%= u.check_box(:background_vocals)%></td>
		</tr>
		<tr>
			<th><%= u.label(:five_string, "Do you play five string?") %></th>
			<td><%= u.check_box(:five_string)%></td>
		</tr>
		<tr>
			<th><%= u.label(:six_string, "Do you play six string?") %></th>
			<td><%= u.check_box(:six_string)%></td>
		</tr>
		<tr>
			<th><%= u.label(:experience, "Years played") %></th>
			<td><%= u.select(:experience, 0..150)%></td>
		</tr>
		<tr>
			<th><%= u.label(:proficiency) %></th>
			<td><%= u.select(:proficiency, ['Beginner', 'Intermmediate', 'Advanced', 'Professional']) %></td>
		</tr>	
	</table>
	<%= submit_tag("Confirm") %>

<% end %>
