<hr/>
<h3>Guitarist</h3>
<table>
  <tr>
    <th>Background Vocals</th>
    <td><%= guitarist.background_vocals %></td>
  </tr>
  <tr>
    <th>Rhythm, Lead or Both</th>
    <td><%= guitarist.rhythm_or_lead %></td>
  </tr>
  <tr>
    <th>Experience</th>
    <td><%= guitarist.experience %></td>
  </tr>
  <tr>
    <th>Proficiency</th>
    <td><%= guitarist.proficiency %></td>
  </tr>

</table>
<!--
<%= link_to("Edit", :controller => 'guitarists', :action => 'edit') %>
<%= link_to("Delete", :controller => 'guitarists', :action => 'destroy') %>
-->
