<h1>Register </h1>
<p>Please enter your information</p>

<% @title = "Creating new guitarist" %>
<%= error_messages_for(@guitarist) %>
<%= link_to("Cancel", :controller => 'users', :action => 'show') %>
<%= form_for(:guitarist, :url => {:action => 'create'}) do |u| %>

	<%= render(:partial => 'form', :locals => {:u => u}) %>
	<%= submit_tag("Confirm") %>

<% end %>
