<div class="page-header">
  <h1>Reviews for <%= "#{@musician.specific.class.name.downcase} #{@musician.user.username}" %></h1>
</div>
<% if @reviews.any? %>
  <div class="reviews">
    <% @reviews.each do |review| %>
      <div class="review">
        <h4>
          Review by <%= review.user.username %>
        </h4>
        <h5>
          <%= review.rating %>/5
        </h5>
        <p>
          <%= review.review %>
        </p>
        <p>
          <small>
            <%= link_to('See full review', musician_review_path(@musician, review)) %>
          </small>
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <% if @musician.user.id != session[:user_id] %>
    <div>
      <p>
        <%= "#{@musician.user.username} has not been reviewed as a #{@musician.specific.class.name.downcase} yet." %>
        Would you like to <%= link_to('write', new_musician_review_path(@musician)) %> one?
      </p>
    </div>
  <% else %>
    <div>
      <p>
        You have no reviews yet =(
      </p>
    </div>
  <% end %>
<% end %>
