<!doctype html>
<html>
  <head>
    <title><%= @title if !@title.blank? %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body style="margin-top: 100px">
    <nav class = "navbar navbar-default navbar-fixed-top">
      <div class='container-fluid'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#actions">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(root_path, {:class => 'navbar-brand'}) do %>
            Hobby Site
          <% end %>
        </div>
        <ul class = 'nav navbar-nav'>
          <li><%= link_to('My Profile', user_path) %></li>
        </ul>
        <div class="collapse navbar-collapse" id="actions">
          <ul class = "nav navbar-nav navbar-right">
            <% if session[:user_id] %>
              <li>
                <%= link_to('Edit Profile', {controller: 'users', action: 'edit'}) %>
              </li>
              <li>
                <%= link_to('Logout', logout_user_path, method: :post) %>
              </li>
            <% end %>
          </ul>
          <form class="navbar-form" role="search">
            <div class="input-group search-bar-container">
              <input type="text" class="form-control" placeholder="Search for a user" id="search-bar" name="srch-term">
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div class ="container">
      <% unless flash[:notice].blank? %>
        <%= content_tag(:div, class: "alert alert-dismissible #{flash[:class]}", role: 'alert') do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:notice] %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <footer></footer>
  </body>
</html>
