<!doctype html>
<html>
  <head>
    <title>Hobby Site</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'home/home', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav>
      <%= render(partial: 'home/navbar') %>
    </nav>
    <%= yield %>
    <footer></footer>
  </body>
</html>
